body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Medium Screen */
@media only screen and (min-width: 35rem) {

  h1  {
    font-size: 3rem;
  }

  div {
    display: block;
  }

  #content {
    font-size: 1.5rem;
  }
    
} /* end media query*/



/* Large Screen */
@media only screen and (min-width: 60rem) {

  h1  {
    font-size: 4rem;
  }

  #content {
    font-size: 1.8rem;
  }

} /* end media query*/